# Mount the /dev filesystem

start /sbin/devfs -u 0 -g 0 -m 0777 /dev

#sleep 5

waitfor /dev

#
# We need to start the sdcard and fat driver
# Mount sdcard as /dev/sda
# Mount fat as /media/sda1fs
# 
# Perform pivot root /media/sda1fs /media/boot
# Remount /media/boot/dev/ to /dev
#


# Start the serial port driver and mount as /dev/tty

mknod /dev/tty 0777 c

#sleep 5

start /sbin/serial -u 0 -g 0 -m 0777 /dev/tty

#sleep 5

waitfor /dev/tty

settty /dev/tty

chdir /bin

# Start the shell

start /bin/ksh


