#
# startup.cfg
#
# Startup script run by the init process. This script bootstraps the system into
# a usable state.  It mounts the initial filesystems, device drivers and shell.
#

# TODO: Mount the SDcard and FAT filesystem for the first partition.
#
# Perform pivot root /media/sda1fs /media/boot
# Remount /media/boot/dev/ to /dev
#

#start /sbin/sdcard -u 0 -g 0 -m 0777 /dev/sd1
#sleep 3
#waitfor /dev/sd1
#start /sbin/fatfs -u 0 -g 0 -m 0777 /media/sd1fs /dev/sd1
#sleep 3
#waitfor /media/sd1fs

# ##############################################################################

# Mount the /dev filesystem

start /sbin/devfs -u 0 -g 0 -m 0777 /dev

sleep 3

waitfor /dev

# Start the serial port driver and mount as /dev/tty

mknod /dev/tty 0777 c

sleep 3

start /sbin/serial -u 0 -g 0 -m 0777 /dev/tty

sleep 3

waitfor /dev/tty

settty /dev/tty

chdir /home

# Start the shell

start /bin/ksh







