.gitignore
*.o
*.elf
*.exe
*.img
dump.txt
bootcode.bin
start.elf
boot/*
*.Po
*.dirstamp
**/autom4te.cache/
autom4te.cache/
kernel/autom4te.cache/
third_party/*
third_party_new/*
third_party_original/*

build/*

